
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #005274;
    
}

header{
    padding: 3%;
    background-color: #008FAD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 8px;
    color: aliceblue;
    
}

form{
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    border-radius: 50px;

}

table{
    width: 100%;
    background-color: aliceblue;
    padding: 2%;
    border-radius: 50px;
}
.table{
    background-color: aliceblue;
}

main{
height: 50vh;
padding: 3% 10% 10% 10%;
background-color: aliceblue;

}

.content{
    display: flex;
    justify-content: space-around;
}

.inputBusqueda{
    height: 50px;
    width: 75%;
    background-color: #67CBDB;
    border-radius: 50px;color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

.titleCenter{
    align-self: center;
    margin-left: 25px;
    width: 25%;
    margin-bottom: 2%;
    background-color: #008FAD;
    color: aliceblue;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.719);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(0, 0, 0);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(0, 0, 0);
}

.btnBuscar{
    width: 100%;
    height: 50%;
    background-color: #67CBDB;
    border-radius: 50px;
}

.element{
    height: 500px;
    padding: 5%;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    width: 200px;

}

.element img{
    width: 80%;
}
.title{
    padding-top: 5%;
    max-width: 60%;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

.id{
    color: rgba(240, 248, 255, 0.651);
}

.titleProducto{
    width: 150px;
}

.btnAgregarAlCarrito{
    margin-top: 10%;
    background-color: #10adcc;
    width: 160px; 
    height: 50px;
    margin: 10px;
    font-size: 20px;
    border-radius: 50px;
    color: aliceblue;
}

.roll{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aliceblue;

}

footer{
    width: 100vw;
    display: flex;
    padding: 0;
    background-color: #008FAD;
    align-content: flex-end;
}

button{
    justify-content: center;
}

table{
    border: 2px solid ;
}
html{
    background-color: aliceblue;
}

@media(max-width: 576px){
    .titleCenter{
        display: none;
    }
    .inputBusqueda{
        font-size: 14px;
        min-width: 205px;
    }

}

@media(min-width: 576px) and (max-width: 767.98px) {
    

}

